.comm-search{
    width: 100%;
    height: 100%;
    position: relative;
    
    // padding: 10px 10px 0px 10px;
    // justify-content: center;
    // .search-button{
    //     margin-right: 10px;
    // }
    &-div{
        // padding-right: 85%;
        width: 100%;
        // overflow: hidden;
        position: relative;
        &-input{
            width: 90%!important;
        }
        &-select{
            display: block!important;
            width: 90%;
        }
        &-range{
            width: 84%!important;
            // margin-right: 20px;
            // display: block!important;
            // padding-right: 20px;
            // width: 85%;
        }
        &-date{
            width: 84%!important;
            // padding-right: 20px;
            // width: 300px!important;
        }
    }
    &-col{
        width: 100%;
        // padding-right: 20px;
        overflow: hidden;
        margin-bottom: 10px;
        // display: block;
        position: relative;
        &-btn{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            // position: absolute;
            // bottom: 0px;
            &-item{
                width: 30%;
            }
        }
        
    }
    &-optionBn{
        display: flex;
        align-items: center;
        &-item{
            margin-right: 10px;
        }
    }
}

// .comm-search /deep/ .el-date-editor{
//     width: 300px!important;
// }

