@font-face {
    font-family: 'Domaine-Display-Regular';
    src: url("Domaine-Display-Regular.woff2");
}

@font-face {
    font-family: 'Quicksand';
    src: url("Quicksand.woff2");
}

@font-face {
    font-family: 'chenyuluoyan';
    src: url("ChenYuluoyan-Thin-Monospaced.ttf");
}