@keyframes sunshine {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: .75;
    }
}


.index{
    position: relative;
    overflow: hidden;
}

.index-logo{
    position: fixed;
    top: 50px;
    left: 50px;
    cursor: pointer;
    opacity: .7;
    &-icon:hover{
        // filter: drop-shadow(0px 0px 15px var(--color-text-primary));
        opacity: .5;
    }
}

.index-main{
    font-family: "chenyuluoyan", sans-serif;
    user-select: none;
    // background-image: url('@/assets/images/shiguang.jpg');
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    // background-position:center;
    color: var(--color-text-second);
    // color: rgba($color: #93edf3, $alpha: .75);
    font-size: 6vmax;
    font-weight: bolder;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text{
        text-align: center;
        filter: drop-shadow(.75vmax .75vmax .3vmax var(--color-text-second));
    }
    // @font-face {
    //     font-family: 'Domaine Display Regular';
    //     src: url("Domaine-Display-Regular.ttf");
    // }
}


.index-left{
    position: absolute;
    top: 70px;
    left: 120px;
    &-sun{
        color: var(--color-icon-sun-color);
    }
    &-moon{
        color: var(--color-icon-moon-color);
    }
}

.index-sunshine{
    position: absolute;
    top: 160px;
    left: 920px;
    width: 0px;
    height: 0px;
    // border: 100px solid;
    border-bottom: 900px solid var(--color-icon-sun-color);
    border-right: 500px solid transparent;
    transform: skewX(56deg);
    // opacity: .85;
    animation: sunshine 6s ease forwards normal;
}

.index-right{
    display: flex;
    align-items: center;
    opacity: .5;
    .index-theme-switch{
        position: fixed;
        top: 50px;
        right: 90px;
        cursor: pointer;
        display: flex;
        overflow: hidden;
        min-width: 80px;
        width: 80px;
        height: 40px;
        padding: 2px;
        box-sizing: border-box;
        align-items: center;
        border-radius: var(--border-radius);
        justify-content: space-between;
        background-color: var(--bg-color-theme-switch);
        &-sun{
            color: var(--color-icon-sun-color);
            background-color: var(--bg-color-theme-sun);
        }
        &-moon{
            color: var(--color-icon-moon-color);
            background-color: var(--bg-color-theme-moon);
        }
        &-div{
            width: 50%;
            height: 28px;
            padding: 3px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
    .index-login{
        position: fixed;
        top: 50px;
        right: 40px;
        cursor: pointer;
        opacity: .7;
        &:hover{
            // filter: drop-shadow(0px 0px 15px var(--color-text-primary));
            opacity: .5;
        }
    }
}

@media screen {
    
}