.my-center{
    margin: 0px 10%;
    &-report{
        background-color: #99a9bf;
        line-height: 200px;
    }
    &-container{
        display: flex;
        &-left{
            width: 18%;
            &-menu{
                height: 100%;
            }
        }
        &-right{
            width: 82%;
            padding: 20px;
        }
    }
}